<section class="info_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-4  col-lg-4">
          <h6>
            About Royal Weave Clothing
          </h6>
          <p>At Royal Weave Clothing, we believe fashion is more than just clothing—it’s a reflection of confidence, comfort, and individuality. Our thoughtfully designed collections for men, women, and kids blend timeless style with modern trends. Explore our range and discover outfits that fit every lifestyle, occasion, and personality.</p>
        </div>
        <div class="col-md-3  col-lg-3 offset-lg-1">
          <h6>
            Links
          </h6>
          <ul>
            <li class=" active">
              <a class="" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="">
              <a class="" href="about.html">About </a>
            </li>
            <li class="">
              <a class="" href="product.html">Products </a>
            </li>
            <li class="">
              <a class="" href="privacy.html">Privacy </a>
            </li>
            <li class="">
              <a class="" href="contact.html">Contact Us</a>
            </li>
          </ul>
        </div>

        <div class="col-md-4 col-lg-4">
          <h6>
            Contact Us
          </h6>
          <div class="info_link-box">
            <a href="">
              <i class="fa fa-map-marker-alt"></i>
              <span> 3102, Gali Sushila, Kali Maszid, Baazar Sita Ram, New Delhi</span>
            </a>
            <a href="">
              <i class="fa fa-phone-alt"></i>
              <span>+91 8527413089</span>
            </a>
            <a href="">
              <i class="fa fa-envelope"></i>
              <span> Mayankgola023@gmail</span>
            </a>
          </div>
          <div class="info_social">
          <a href=""><i class="fab fa-twitter"></i></a>
          <a href=""><i class="fab fa-facebook-f"></i></a>
          <a href=""><i class="fab fa-linkedin-in"></i></a>
          <a href=""><i class="fab fa-instagram"></i></a>
        </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info section -->


  <!-- footer section -->
  <section class="container-fluid footer_section ">
    <div class="container">
      <p>
        &copy; All Rights Reserved. Design by
        <a href="https://www.webcreatix.com">WebCreatix</a>
      </p>
    </div>
  </section>
  <a href="https://wa.me/918527413089" class="whatsapp-floating" target="_blank"><i class="fab fa-whatsapp"></i>
</a>